<h1>
  <img src="src/app/modules/comments/components/comupdate/UpdateGraphic.jpg">
</h1>

<div class="grid" *ngIf="comment">
    <div class="col-12-12">
        <h6 class="blTitle">Blog Title: {{comment.blogPost.blogTitle}}</h6>
        <p class="cmDate">By User: {{comment.user.userName}}</p>
        <p>{{comment.comMessage}}</p>
    </div>
<div>
  <div>
      <label>
          <textarea placeholder="message" [(ngModel)]="comment.comMessage"></textarea>
      </label>
  </div>
  <div class="dlCom" (click)="updateCom()">
        <span>UPDATE</span>
    </div>
  </div>
</div>

<div class="footer">
    <div class="col-6-12">
        <h6 class="compInfo">&copy; 2018 Aliquam lectus sem.</h6>
    </div>
    <div class="col-6-12">
        <div class="icon">
            <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a>
            <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a>
            <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
        </div>
    </div>
</div>
