<h1>
  <img src="src/app/modules/comments/components/comupdate/UpdateGraphic.jpg">
</h1>

<div *ngIf="comment">
  <h3>Titled: {{comment.blogPost.blogTitle}}</h3>
  <h4>By User: {{comment.user.userName}}</h4>
  <p>Message: {{comment.comMessage}}</p>

<div>
  <div>
      <label>
          <textarea placeholder="message" [(ngModel)]="comment.comMessage"></textarea>
      </label>
  </div>
  <div>
    <button (click)="updateCom()">Update Comment</button>
  </div>
  </div>
</div>

<div class="footer">
    <div class="col-6-12">
        <h6 class="compInfo">&copy; 2018 Aliquam lectus sem.</h6>
    </div>
    <div class="col-6-12">
        <div class="icon">
            <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a>
            <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a>
            <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
        </div>
    </div>
</div>
