<div class="row">
  <div class="leftcolumn">

      <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
<h1>
  <img src="src/app/modules/bloglist/components/blog-posts/BlogPostGraphic.jpg">
</h1>

        <div class="card">
<div *ngFor="let post of blogPosts">
  <img src="{{post.blogPhoto}}">
  <p>Title: <a routerLink="/blogList/{{post.blogId}}"><b>{{post.blogTitle}}</b></a><small> Views:</small> {{post.blogViews}}<small> Likes:</small> {{post.blogLikes}} Date: {{post.blogDate}}
    <br/>Message: {{post.blogMessage}}
  </p>
</div>
</div>

