<h1>User Login</h1>
<div class="style">
  <form #login="ngForm" (ngSubmit)="userLogin(login.value)">
    <div>
      <label for="userName">Username:</label><br/>
      <input type="text" placeholder="Username" name="userName" required ngModel>
    </div>
    <div>
      <label for="passWord">Password:</label><br/>
      <input type="password" placeholder="Password" name="passWord" required ngModel>
    </div>
    <div>
      <button class="styleButton" type="submit">LOGIN</button>
    </div>
  </form>
</div>
<div class="footer">
  <div class="col-6-12">
      <h6 class="compInfo">&copy; 2018 Aliquam lectus sem.</h6>
  </div>
  <div class="col-6-12">
      <div class="icon">
          <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
          <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a>
          <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a>
          <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
      </div>
  </div>
</div>