<h1>Comment Details</h1>

<div *ngIf="comment">
  <h3>Blog: {{comment.blogPost.blogTitle}}</h3>
  <h5>By User: {{comment.user.userName}}</h5>
  <a routerLink="/comUpdate/{{comment.comId}}">Update</a>
  <p>Comment Message: {{comment.comMessage}}<small> Likes:</small> {{comment.comLikes}} Date: {{comment.comCreatedDate}}</p>
  <button (click)="deleteCom()">Delete Comment</button>
</div>

<div class="footer">
    <div class="col-6-12">
        <h6 class="compInfo">&copy; 2018 Aliquam lectus sem, posuere sed dignissim vitae, posuere at urna.</h6>
    </div>
    <div class="col-6-12">
        <div class="icon">
            <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a> 
            <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a> 
            <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
        </div>
    </div> 
</div>
