<h1>User List</h1>

<div
  routerLink="/profile/{{user.userId}}"
  *ngFor="let user of users"
  class="userList"
>
  <p>
    <span class="userName">{{user.firstName}} {{user.lastName}} </span>
    <span class="userInfo"> - Birthday: {{user.birthDay}} Email: {{user.userEmail}} Phone: {{user.phoneNumer}}</span>
  </p>
</div>
<div class="footer">
    <div class="col-6-12">
        <h6 class="compInfo">&copy; 2018 Aliquam lectus sem.</h6>
    </div>
    <div class="col-6-12">
        <div class="icon">
            <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a>
            <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a>
            <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
        </div>
    </div>
</div>
<script>window.onpageshow.getUserProfileId()</script>
