<div class="blgCreate">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
<div>
  <h3>Create A Blog</h3>
</div>
<div class="blogForm">
  <form #blogData="ngForm" (ngSubmit)="addBlog(blogData.value)">
    <div>
      <label for="blogTitle">Title:</label><br/>
      <input type="text" placeholder="Blog Title" name="blogTitle" required ngModel>
    </div>
    <div>
      <label for="blogMessage">Message: </label><br/>
      <textarea rows="20" cols="75" type="text" placeholder="Blog Message" name="blogMessage" required ngModel></textarea>
    </div>
    <div>
      <button class="styleButton" type="submit">Create Blog</button>
    </div>
  </form>
</div>
</div>
<div class="footer">
    <div class="col-6-12">
        <h6 class="compInfo">&copy; 2018 Aliquam lectus sem.</h6>
    </div>
    <div class="col-6-12">
        <div class="icon">
            <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a>
            <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a>
            <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
        </div>
    </div>
  </div>
