.bioImg {
    top: 0;
    background-image: url('http://localhost:3001/images/plchldr01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    border-bottom: 10px solid rgb(58, 58, 58);
}



.bio{
  font-family: 'Playfair Display SC', serif;
}


.bioImg {
  height: auto;
  max-width: 100%;
}

@media only screen and (max-width: 500px) {
  body {
      background-color: lightblue;
  }
  .menu, .main {
      width: 100%;
  }
}
