<img src="src/app/components/blogbio/BioGraphic.jpg">
<div class="background">


<div class="bioImg">
  <img src="src/app/components/blogbio/MAN.jpg" width="500" height="500">
</div>


<div class="bio">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
  <div class="grid">
    <div>
      <h2>Etiam Fringilla Bio</h2>
    </div>
    <div class="bioBody">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed eget est enim. Curabitur vitae nulla quam. Donec faucibus rutrum turpis, quis mollis arcu facilisis eget.
        Vivamus vehicula eleifend pellentesque. Praesent mollis pretium sodales. In hac habitasse platea dictumst.
        Proin a diam vel arcu euismod molestie. Donec gravida enim eros. Vivamus consequat lorem sit amet sapien fringilla,
        nec consequat elit pharetra.
        Aliquam accumsan convallis ligula, nec porta velit vehicula sit amet.
      </p>
    </div>
  </div>
</div>


</div>
<div class="footer">
    <div class="col-6-12">
        <h6 class="compInfo">&copy; 2018 Aliquam lectus sem, posuere sed dignissim vitae, posuere at urna.</h6>
    </div>
    <div class="col-6-12">
        <div class="icon">
            <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a> 
            <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a> 
            <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
        </div>
    </div> 
  </div>
