.div {
  cursor:crosshair;
}

.background {
  background-color: lightgray;
  font-family: 'Playfair Display SC', serif;
}
  .quote {

    position: center;
  }

  .row {
    position: right;
  }



.card {
  background-color: whitesmoke;
  padding: 1px;
  margin-top: 1px;
  border: 1px solid grey;
  position: center;
  font-family: 'Playfair Display SC', serif;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 black;
}




