
<div class="background">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
<div class="quote">
<p> Whatever we are waiting for - peace of mind, <br>contentment, grace,
  the inner awareness of simple abundance - it will surely come to us,<br>
  but only when we are ready to receive it with an open and grateful
  heart. <br>
  -Sarah Ban Breathnach
  </p>
</div>
<div class="img">
    <img src="src/app/components/homepage/leavesfall.JPG"  >
</div>

<h1>Explore Posts</h1>

<div class="row">
    <div class="leftcolumn">
    <div class="card">
    <h2>Holistic Formation</h2>
    <h5> November 8, 2018</h5>

    <p>We cannot behave on the spot like Jesus did if the rest of the time we are living
      just as everyone else does. <br> It begins with a desire from the inside outt
      to live as Christ. <br> Spiritual Formation is this: the spirit driven process
of forming the inner world of the human self in such a waythat it becomes like the
inner being of Christ Himself!
    </p>
    </div>
    <div class="card">
    <h2>Silence & Solidtude</h2>
    <h5> December 1, 2018</h5>

    <p> Practical Tips: <br>
    1. Find a queit place alone and start 10 minutes of silence with God.<br>
  2. Come with a phrase that will help you keep focused. "I've come to meet You in this place"<br>
3. Come with a question for Jesus or say what is truly on your heart.<br> This doesnt mean
you have to leave with an answer, but it's learning to leave it as His feet.<br>
4. REST, nap...Rest is holy. </p>
    </div>
    </div>
  </div>
