<head>
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Pacifico" rel="stylesheet">
</head>
<div class="background">

<div class="quote">
<p> Whatever we are waiting for - peace of mind, <br>contentment, grace,
  the inner awareness of simple abundance - it will surely come to us,<br>
  but only when we are ready to receive it with an open and grateful
  heart. <br>
  -Sarah Ban Breathnach
  </p>
</div>
<div class="img">
    <img src="blueskies.jpg"  width="400" height="600">
</div>

<h1>Explore Posts</h1>

<div class="row">
    <div class="leftcolumn">
    <div class="card">
    <h2>Holistic Formation</h2>
    <h5>Title description, <br>
      November 8, 2018</h5>

    <p>Just making some text to use as a placeholder</p>
    </div>
    <div class="card">
    <h2>Silence & Solidtude</h2>
    <h5>Title description, <br>
      December 1, 2018</h5>

    <p>nothing really happening here
    just me making space for the example text</p>
    </div>
    </div>
  </div>
