
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">

<div>
  <h3>
    <img src="src/app/modules/users/components/usersignup/SIgnUpGraphic.jpg">
  </h3>
</div>
<div class="style">
<div>
  <form #userData="ngForm" (ngSubmit)="addUser(userData.value)">
    <div>
      <label for="firstName">First Name:</label><br/>
      <input type="text" placeholder="First Name" name="firstName" required ngModel>
    </div>
    <div>
      <label for="lastName">Last Name:</label><br/>
      <input type="text" placeholder="Last Name" name="lastName" required ngModel>
    </div>
    <div>
      <label for="userPhoto">Photo:</label><br/>
      <input type="text" placeholder="Photo Path" name="userPhoto" required ngModel>
    </div>
    <div>
      <label for="birthDay">Birthday:</label><br/>
      <input type="date" placeholder="Birthday" name="birthDay" required ngModel>
    </div>
    <div>
      <label for="userEmail">Email:</label><br/>
      <input type="email" placeholder="Email" name="userEmail" required ngModel>
    </div>
    <div>
      <label for="phoneNumer">Phone:</label><br/>
      <input type="number" placeholder="Phone Number" name="phoneNumer" required ngModel>
    </div>
    <div>
      <label for="userName">Username:</label><br/>
      <input type="text" placeholder="Username" name="userName" required ngModel>
    </div>
    <div>
      <label for="passWord">Password:</label><br/>
      <input type="text" placeholder="Password" name="passWord" required ngModel>
    </div>
    <div>
      <button class="styleButton" type="submit">Sign Up</button>
    </div>
  </form>
</div>
  <div>
    <button routerLink="/users" class="styleButton" type="button">User List</button>
  </div>
</div>
<div class="footer">
    <div class="col-6-12">
        <h6 class="compInfo">&copy; 2018 Aliquam lectus sem.</h6>
    </div>
    <div class="col-6-12">
        <div class="icon">
            <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a>
            <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a>
            <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
        </div>
    </div>
</div>
