<!--The content below is only a placeholder and can be replaced.-->
<div class="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="dropdown">
  <nav>
    <a routerLink="home">Home</a>
    <a routerLink="blogs">Blog</a>
    <a routerLink="blogCreate">Create Blog</a>
    <a routerLink="users">Users</a>
    <a routerLink="comments">Comments</a>
    <a routerLink="comCreate">Create Comment</a>
    <a routerLink="signup">Signup</a>
  </nav>
</div>
<hr/>
<div>
  <div>
      <router-outlet></router-outlet>
  </div>
</div>
