<!--The content below is only a placeholder and can be replaced.-->
<div class="text-align:center">
  <h1>
    <img src="src/app/SimplyLiving2.jpg">
  </h1>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Serif" rel="stylesheet">
</div>
<div class="nav">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
  <ul>
  <nav>
    <a routerLink="home">Home</a>
    <a routerLink="blogs">Blogs</a>
    <a routerLink="bio">Bio</a>
    <a routerLink="signup">Signup</a>
    </nav>
  </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>
