div {
    text-align: center;

}

.h1 {
  font-family: 'Noto Serif', serif;
}

.nav {

    display: block;
    width: 4px;
}

ul a {
  display: center;
  color:black;
  padding: 2px 4px;
  text-decoration: none;
}

ul a:hover {
  background-color: #555;
  color: white;
}

div {
  cursor:crosshair;
}
