<meta name="viewport" content="width=device-width, initial-scale=1">
<!--The content below is only a placeholder and can be replaced.-->
<div class="text-align:center">
  <h1>
    <img src="src/app/SimplyLiving2.jpg">
  </h1>
</div>
<div class="nav">
  <nav>
    <a routerLink="home">Home</a>
    <a routerLink="blogs">Blogs</a>
    <a routerLink="bio">Bio</a>
    <a routerLink="signup">Signup</a>
    <a routerLink="login">Login</a>
  </nav>
</div>
<div>
    <router-outlet></router-outlet>
</div>
