
<h1>
  <img src="src/app/modules/bloglist/components/blogupdate/UpdateBlogGraphic.jpg">
</h1>
<div class="style">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
<div *ngIf="blog">
  <h3>Titled: {{blog.blogTitle}}</h3>
  <p>Message: {{blog.blogMessage}}</p>
  <div>
    <img src="{{blog.blogPhoto}}">
  </div>
</div>
<div>
  <div>
    <label>
      <input placeholder="Title" [(ngModel)]="blog.blogTitle">
    </label>
  </div>
  <div>
      <label>
          <textarea placeholder="message" [(ngModel)]="blog.blogMessage"></textarea>
      </label>
  </div>
  <div>
    <button (click)="updateBlog()">Update Blog</button>
  </div>
  <input type="file" name="img" (change)="picSelected($event.target.files)">
<button type="button" (click)="imgUpload()">Upload Image</button>
</div>
</div>
