<div class="profilePage">
  <div class="grid" *ngIf="user">
    <div class="col-4-12">
      <img src="{{user.userPhoto}}">
    </div>
    <div class="col-8-12">
      <h3>{{user.firstName}} {{user.lastName}} Profile</h3>
      <h6 class="usrDt">User Details:</h6>
      <p class="usrDate">Created On: {{user.userCreatedDate}}</p>
      <p class="userBdate">Birthday: {{user.birthDay}}</p>
      <p class="userEmail">Email: {{user.userEmail}}</p>
      <p class="userPhone">Phone: {{user.phoneNumer}}</p>
    </div>
  </div>
</div>
<div class="upForm">
<h6>First Name:</h6>
<div>
  <label>
    <input type="text" placeholder="First Name" [(ngModel)]="user.firstName">
  </label>
</div>
<h6>Last Name:</h6>
<div>
  <label>
      <input type="text" placeholder="Last Name" [(ngModel)]="user.lastName">
  </label>
</div>
<h6>Birthday:</h6>
<div>
    <label>
      <input type="date" placeholder="Birthday" [(ngModel)]="user.birthDay">
    </label>
</div>
<h6>Email:</h6>
<div>
    <label>
      <input type="email" placeholder="Email" [(ngModel)]="user.userEmail">
    </label>
</div>
<h6>Phone:</h6>
<div>
    <label>
      <input type="number" placeholder="Phone Number" [(ngModel)]="user.phoneNumer">
    </label>
</div>
<div>
  <button class="styleButton" (click)="updateUser()">Edit Profile</button>
</div>
</div>
<div class="footer">
    <div class="col-6-12">
        <h6 class="compInfo">&copy; 2018 Aliquam lectus sem.</h6>
    </div>
    <div class="col-6-12">
        <div class="icon">
            <a href="http://www.facebook.com" target="_blank"><img src="../assets/icons/iconfinder_facebook_circle_black_107153.png"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../assets/icons/iconfinder_38-instagram_104466.png"></a>
            <a href="http://www.twitter.com" target="_blank"><img src="../assets/icons/iconfinder_43-twitter_104461.png"></a>
            <a href="http://www.youtube.com" target="_blank"><img src="../assets/icons/iconfinder_youtube-social-media_765195.png"></a>
        </div>
    </div>
</div>
