<<<<<<< HEAD
/*
html { 
    margin: 0;
    padding: 0;
    height: 100%;

}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    height: 100%;

}
*/
=======
>>>>>>> 2cf1702b56f7616620833e0c41b6082e2c9cd56f
